{% extends 'base.html.twig' %}

{% block title %}Hello Categorie!{% endblock %}

{% block body %}
  Page Categorie {{ categorie.nom }}
<p>{{ categorie.description }}</p>

  <ul>
{{ dump(categoriesproduits) }}
{% for categorieproduit in categoriesproduits %}
    <li><a href="{{ path('app_categorieProduit' , {'id': categorieproduit.id, 'categorie_id' :  categorie.id }) }}">lien vers {{ categorieproduit.nom}} 
    
    
    </a> </li>
</ul> 
{% endfor %}
  
  {% endblock %}
 
<p> 
    <image src = "{{ vich_uploader_asset(article, )}}