{% extends 'base.html.twig' %}

{% block title %}
	Hello CategorieProduit!
{% endblock %}

{% block body %}

	<h1>Ma Page categorieproduit {{ categorieproduit.nom }} pour {{ categorie.nom }} </h1>
	<p>{{ categorieproduit.description }}</p>

	<img src="{{ categorieproduit.image}}"/>
    <h2>Liste des liens vers les pages produits</h2>
	<ul>
		
		{% for produit in hrefsList %}
			<li><a href="{{ path('app_produit' , {'id': produit.id }) }}">lien vers{{ produit.nom}}</a></li>
	
	{% endfor %}
</ul>
{% endblock %}
