{% extends 'base.html.twig' %}

{% block title %}Hello FrontHomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <h2> liste des categories </h2>
    <ul>
	{% for categorie in categories %}
        <li><a href="{{ path('app_categorie',{'id': categorie.id  }) }}">lien vers {{ categorie.nom }} </a> </li>
    {% endfor %}
    </ul> 

    <h2> liste des marques </h2>
    <ul>
	{% for aa in marques %}
        <li><a href="{{ path('app_marque',{'id': aa.id  }) }}">lien vers {{ aa.nom }} </a> </li>
    {% endfor %}
    </ul>
</div>


{% endblock %}

